{
    "interval": 1,
    "seed": 0,
    "dir": "../scenarios/loop_intersection/",
    "roadnetFile": "roadnet.json",
    "flowFile": "flow.json",
    "rlTrafficLight": true,
    "saveReplay": true,
    "roadnetLogFile": "frontend/test_sphere.json",
    "replayLogFile": "frontend/replay_sphere.txt",
    "laneChange": true
}